<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Create Account</button>
</form>


{% comment %} add the register to base.html/users/register.html  {% endcomment %}
{% comment %} to pass it to base.html:  {% endcomment %}


{% comment %} .as_p will add p tag for the form  {% endcomment %}

{% comment %} read about action=  {% endcomment %}

{% comment %} 
to add image to the html file we will add:
<img src=""> {% endcomment %}
{% comment %} 
to add href to image:

<a href="">
    <img
    src="the path of the img">
</a> {% endcomment %}